{% extends "GRsystem/index.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>All Complaints</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static " GRsystem/extra/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
  <script src="https://kit.fontawesome.com/eb3175e54f.js" crossorigin="anonymous"></script>

  <!-- Custom styles for this template -->
  <!-- <link href="{% static " GRsystem/css/simple-sidebar.css" %}" rel="stylesheet"> -->
  <style>
    .healtTrack {
      right: 10px;
      width: 100%;
    }
  </style>
</head>

<!-- <body style="background: #8E2DE2;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4A00E0, #4A00E0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
"> -->

<div class="d-flex" id="wrapper">

  <!-- Sidebar -->
  <div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading"> GRSystem </div>
    <div class="list-group list-group-flush">
      {% if user.is_authenticated %}
      <a href="" class="list-group-item list-group-item-action active"> Welcome : {{user.username}} </a>
      <a href='/dashboard/' class="list-group-item list-group-item-action">Profile <i class="fa-solid fa-user"></i></a>
      <a href='/password/' class="list-group-item list-group-item-action">Password Reset <i
          class="fa-solid fa-key"></i></a>
      <a href="/complaints/" class="list-group-item list-group-item-action">Add Complaints <i
          class="fa-solid fa-arrow-right"></i></a>
      <a href="/slist/" class="list-group-item list-group-item-action">Solved Complaints <i
          class="fa-solid fa-check"></i></a>
      <a href="/list/" class="list-group-item list-group-item-action">UnSolved Complaints <i
          class="fa-solid fa-xmark"></i></a>
      <a href="/mentalhealthresource/" class="list-group-item list-group-item-action">Mental Health Resources
        <i class="fa-brands fa-cloudflare"></i></a>
      <a href="/council/" class="list-group-item list-group-item-action">Consultative Panel</a>
      <a href="/diagnosis/" class="list-group-item list-group-item-action">Health Prognosis</a>
      <a href="/getHelp/" class="list-group-item list-group-item-action">Get Help</a>


      {% endif %}

    </div>
  </div>
  <!-- /#sidebar-wrapper -->
<div id="content-wrapper">
  <div class="container-fluid">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="">Appointment Panel</a>
      </li>
    </ol>

    <div class="row">
      <div class="col-sm-8">
        <h4 class="text-center alert alert-info">List Of Disease Diagnosed</h4>

        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Patient</th>
              <th scope="col">Status</th>
              <th scope="col">Day</th>
              <th scope="col">Time</th>
              <th scope="col">Doctor</th>
              <th scope="col">Doctor Contact</th>
            </tr>
          </thead>
          <tbody>
            <input type="hidden" value="{{ user.id }}" name="" id="user_id" />

            {% for d in ment %}
            <tr>
              <td>{{ d.id }}</td>

              <td>{{ d.patient.username }}</td>

              {% if d.approved == False %}
              <td>Pending</td>
              {% else %}
              <td>{{ d.medicine }}</td>
              {% endif %} {% if d.ment_day == None %}
              <td>Not Set</td>
              {% else %}
              <td>{{ d.ment_day|date:"M d, Y" }}</td>
              {% endif %} {% if d.time == None %}
              <td>Not Set</td>
              {% else %}
              <td>{{ d.time }}</td>
              {% endif %} {% if d.doctor.username == Null %}
              <td>None</td>
              {% else %}
              <td>{{ d.doctor.username }}</td>
              {% endif %} {% if d.doctor.phonenumber == Null %}
              <td>None</td>
              {% else %}
              <td>{{ d.doctor.phonenumber }}</td>
              {% endif %}
            </tr>

            {% endfor %}
          </tbody>
        </table>

        <div id="ment_result" class="col-sm-10 offset-sm-3"></div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
